@media (max-width: 700px) {

  .intro {
    max-height: 650px;
    height: fit-content;
  }

  .headerUp {
    height: fit-content;
  }

  .header {
    height: fit-content;
    min-height: 150px;
  }

  .socialm{
    position: absolute;
  }


  .about {
    flex-direction: column;
    padding-top: 3rem;
    min-height: fit-content;;
  }

  .background {
    flex-direction: column;
    padding-top: 3rem;
  }

  .sponsors {
    flex-direction: column;
  }

  .backgroundText {
    width: 100%;
  }


  .background h2 {
    width: 100%;
    border: 0;
  }

  .backgroundText {
    width: 100%;
    border: 0;

  }


  .sponsor-logos img {
    height: 10vw;
  }


  .textBig {
    margin-top: 0;
    width: 100% !important;
    font-size: 2rem;
  }

  .details {
    margin-top: 2rem;
  }

  .topicWord {
    font-size: 1.3rem;

  }

  #top-image {
    background-size: 250%;
  }




  .joinus {
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .joinText {
    flex-direction: column;
    width: 90%;
  }

  .joinText div {
    margin-bottom: 2rem;
  }


  .subtopics {
    flex-direction: column;
    padding-bottom: 0rem;
    padding-top: 3rem;
  }


  .subtopicsItem {
    width: 100%;
  }

  .subtipicsItemTitle {
    height: 16rem;
  }

  footer{
    margin-top: -3px;
  }

  .footerInfo {
    flex-direction: column;
  }

  .footerInfo div {
    margin-bottom: 2rem;
  }


  #mouse-circle {
    display: none;
  }


  /* NAVIGATION */



  .menu-icon {
    height: 2px;
  }

  .navMenu li a {
    border: 0;
  }

  .navMenu li a:hover {
    background-color: var(--white);
    color: var(--black);
    color: var(--pink);
  }

  .navMenu {
    position: inherit;
  }

  

  .navMenu li a {
    padding: 0.2rem 0;
    margin: 0;
  }

  .navMenu a:hover .soon {
    visibility: hidden;
  }


  .navMenu ul {
    margin-bottom: 6rem;
    margin-left: 1rem;
    padding: 0;
    overflow: hidden;
  }


  .navMenu li .inactive:hover {
    cursor: default;
    color: var(--black);
    opacity: 0.4;
  }


}