:root {
  --black: #1D1E1C;
  --blue: #5E85EA;
  --red: #FF0101;
  --white: #ffffff;
  --orange: #FF4005;
  --border: 1px;
  --green: #1FEE4D;
}

html {
  font-size: 18px;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter';
  font-weight: 400;
  color: var(--black);

}

.container-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-80 {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.containerMargin {
  margin: 16px 16px 5px 16px;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.containerPadding {
  padding: 32px 2% 64px 2%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.container-w20 {
  width: 25%;
  border-right: var(--border) solid var(--black);
  height: 100%;
}

.container-w80 {
  width: 75%;
  height: 100%;
  background-color: var(--black);
}



.header {
  width: 100%;
  height: 25%;
  padding: 10px 2% 5px 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}


.menu a {
border: 0;
}




.intro{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.joinus{
  padding-bottom: 84px;
}

.sponsors{
  padding-top:0;
  padding-bottom: 78px;
}

#top-image {
  background-color: var(--red);
  height: 75vh;
  background-image: url("images/bg.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}



.black {
  background-color: var(--black);
  color: white;
}





.headerBottom {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topicWord {
  font-size: 46px;
  text-transform: uppercase;
  font-family: 'Inter';
  font-weight: 400;
  letter-spacing: 1px;
}



.notActiveYet{
  opacity: 0.3;
}
/* dot */


#mouse-circle {
  position: absolute;
  width: 16px;
  height: 16px;
  margin: -8px 0px 0px -8px;
  background-color: #FE53C6;
  border-radius: 50%;
  pointer-events: none !important;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0);
}

section{
  padding: 32px 2% 64px 2%;
  display: flex;
  flex-direction: column;
}

.background{
  padding-top: 64px;
}

footer{
  padding: 32px 2% 32px 2%;
  display: flex;
}

.intro{
  padding: 0;
}

.about{
  min-height: 90vh;
  flex-direction: row;
}


/* socialmedia */


.headerNav {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  position: fixed;
  top: 10px;
  left: 2%;
}

.socialm {
  position: fixed;
  top: 10px;
  right: 2%;
  padding: 0;
  margin: 0;
  z-index: 9;

}

.socialm ul {
  position: relative;
  width: fit-content;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.socialm li {
  display: inline-block;
  position: absolute;
  right: 0;
  top: -1px;
  height: 40px;
  width: 40px;
}

.socialm li a{
  display: block;
  width: 100%;
  text-decoration: none;
}

.blue {
  background-color: var(--blue);
}

.orange {
  background-color: var(--orange);
}



.subtopics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.4%;
  height: fit-content;
  padding-top: 84px;
  padding-bottom: 84px;
  color: var(--green)
}


.subtopicsItem {
  width: 32.4%;
  padding-top: 1rem;
  height: fit-content;
  border-top: 2px solid var(--green);
  margin-bottom: 4rem;

}


.subtipicsItemTitle {
  padding-top: 24px;
  padding-top: 24px;
  font-family: 'Inter';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
}

h2{
  font-family: 'Inter';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 27px;
}


.subtitleCol{
  width: 32.4%;
  padding-right: 10px;
  display: flex;
  justify-content: right;
}

.textBlock{
  width: 50%;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  width: 90%;
  padding-bottom: 12px;
  margin:0;
}

.subTags {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: var(--green);
  padding-top: 1.4rem;
}


.textBig {
  font-size: 3.5rem;
  margin-top: auto;
  height: fit-content;
  font-family: 'Inter';
  font-weight: 400;
  width: 83.8%;
}

.details {
  padding-top: auto;
  margin-top: auto;
  margin-bottom: 0.5%;
  line-height: 28px;
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  font-size: 24px;
}


.joinText{
  display: flex;
  flex-direction: row;
  width: 60%;
  gap: 1.4%;
  padding-bottom: 6rem;
}

.joinBtn{
  border: var(--border) solid;
  padding: .2em .6em;
  margin: 0 0rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 100px;
  background-color: var(--black);
  height: fit-content;
  width: fit-content;
  position: relative;
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}

.joinBtn a{
  border: 0;
  color: var(--white);}

a{
  text-decoration: none;
  border-bottom: 1px solid var(--green);
  color: var(--black);
}

.socialm a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 100px;
  border-bottom: none;
}

.socialm li:nth-child(1) {
  z-index: 1;
  border-radius: 100px;
  background: var(--black);

}


.socialm li {
  border-radius: 100px;
  border: var(--border) solid var(--black);
}

.socialm li.active:nth-child(2) {
  right: 42px;
}

.icon-a {
  color: #FFF;
  font-size: 0.9em;
}



.socialm li.active:nth-child(3) {
  right: 86px;
}


.socialm li.active:nth-child(4) {
  right: 130px;
}

.socialm li.active:nth-child(5) {
  right: 174px;
}



.fa-share-alt {
  color: var(--white) !important;
}

.fa {
  color: var(--black);
}


/* footer */

.footer {
  padding: 32px 2% 32px 2%;
}

.footer p{
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin:0;
  padding:0;
}

.footerCol{
  display: flex;
  border-top: 1px solid var(--white);
  gap: 2%;
  padding-top: 32px;
    justify-content: flex-start;
    width: 100%;
}

.footerInfo{
  width: 60%;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin:0;
  color: var(--white);
  gap: 4%;

}

.footerInfo a{
  color: var(--white);
}


.footerInfo p{
  font-size: 0.9rem;
  line-height: 1.4;
  margin-right: 0;
  width: 100%;
  margin-bottom:0;
}


.footerLogo{
  width: 32.4%;
}

h2{
  margin-top:0;
  margin-bottom: 0.6rem;
}

h3{
  font-size: 1rem;
  text-transform: uppercase;
  margin:0;
  padding:0;
}





/* NAVIGATION */




#navbar-checkbox:checked+.menu li {
  visibility: visible;
}

#navbar-checkbox:checked+.menu .navbar-handle,
#navbar-checkbox:checked+.menu .navbar-handle:after,
#navbar-checkbox:checked+.menu .navbar-handle:before {
  border-color: #aaa;
}

.navbar-checkbox {
  display: none;
}

.navbar-handle {
  display: none;
  width: fit-content;
  height: fit-content;

  cursor: pointer;
  display: none;
  content: ' ';
  z-index: 20;
}





.MenuArea {
  display: flex;
  flex-direction: row;


}

.logo {
  padding: .2em .6em;
  margin: 0 0rem;
  font-size: 1.3rem;
  border-radius: 100px;
  background-color: var(--black);
  height: fit-content;
  width: fit-content;
  position: relative;
  border: var(--border) solid var(--black);
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  letter-spacing: 0px;
  z-index: 20;
}



.menu {
  font-size: 1.3rem;
}



.menu ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

.menu li {
  display: inline-block;
  border-radius: 100px;
  border: var(--border) solid;
  padding: .2em .6em;
  margin: 0 0rem;
  position: relative;
  text-transform: uppercase;
}


#navbar-checkbox:checked+.menu ul {
  max-height: 100vh;
  background-color: var(--white);
  position: absolute;
  color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 70px;
  padding-bottom: 32px;
  width: 100vw;
  height: fit-content;

}

#navbar-checkbox:checked+.menu .navbar-handle {
  display: block;
  position: relative;
}


.sponsor-logos{
  display: flex;
  flex-direction: row;
  width:60%;
}

.sponsor-logos a{
  text-decoration: none;
  border: none;
}

.sponsor-logos img{
padding-right: 2rem;
}

.sponsorTitle{
  font-size: 1rem;
  color: var(--black);
}

.infoBackground{
  display: flex;
  flex-direction: row;
  gap: 1.4%;
  height: fit-content;
}

.logoTitle{
  align-self: right;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-top: 26px;
  font-family: 'Inter';
  font-weight: 200;
letter-spacing: 1px;

}



@media (max-width: 700px) {






  .containerPadding {
    padding-top: 4rem;
    flex-direction: column;
  }

  .textBig {
    margin-top: 0;
    width: 100% !important;
    font-size: 2.6rem;
  }

  .details {
    margin-top: 2rem;
  }

  .topicWord {
    font-size: 2rem;
    
  }



  #top-image {
    background-size: 200%;
  }



  .menu>ul {
    max-height: 0;
    overflow: hidden;
    margin: 0;
  }

  .menu li {
    visibility: hidden;
    display: block;
    padding: 0.5em 0.6em;
    border: none;
  }

  .menu li ul {
    margin-top: 0.5em;
    margin-left: 0;
    border-left: var(--border) solid var(--black);
  
  }

  .menu .navbar-handle {
    display: block;
  }





  .subtopics {
    flex-direction: column;
  }


  .subtopicsItem {
    width: 100%;
  }

  .subtipicsItemTitle {
    height: 50vh;
  }

}